{% extends "map/layout.html" %}
{% load static %}
 
{% block script %}
<script src="{% static 'map.js' %}"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&loading=async&callback=initMap&libraries=places"></script>
{% endblock %}

{% block content %}
<h1 class="mt-5">Australian Organs</h1>
<div class="container">
    <p>
        This is an interactive Google map that displays information on organs in Australia. 
        The data is sourced from the <a href="https://ohta.org.au" target="_blank">Organ Historical Trust of Australia (OHTA)</a>, <a href="https://sydneyorgan.com" target="_blank">Organ Music Society of Sydney (OMSS)</a> and the <a href="http://www.oswa.org.au/" target="_blank">Organ Society of Western Australia (OSWA)</a>.
    </p>
    <p>
        The organ society web pages are valuable resources for organ enthusiasts, and this map is intended to make it easier to explore the organs in Australia.
        In order to make this possible, an <a href="https://api.australianorgans.com.au/swagger" target="_blank">unofficial API</a> has been created and, for now, is freely available to use.
    </p>
    <p>
        For any updates or corrections to the data, please contact me, James Flores, at <a href="mailto:james@jamesflores.net">james@jamesflores.net</a>
    </p>
    <small>Map search:</small>
    <form class="d-flex ms-auto">
        <input id="search-box" type="text" placeholder="Enter location name" class="form-control">
    </form>
    <div id="map" class="mt-3" style="height: 800px;"></div>
    <p class="text-center">Click and drag the map to explore organs in Australia.<br>Clicking on the organ name will direct you to the organ's OHTA page.</p>
</div>
{% endblock %}