{% extends "map/layout.html" %}
{% load static %}

{% block content %}
<h1 class="mt-5 mb-3">Login with email</h1>
<div class="row">
    <div class="col-md-12">
        <p>Enter your email to receive a magic login link:</p>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-8 col-md-10">
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" autofocus required>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="send-link">Send Link</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}