{% extends "map/layout.html" %}
{% load static %}

{% block script %}
<script>
    window.isUserAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
    window.loginUrl = "{% url 'login' %}"; 
    window.registerUrl = window.loginUrl;

    var nextPageUrl = null;

    function clearResults() {
        $("#results").html('');
        nextPageUrl = null;
    }

    function performSearch(url) {
        console.log("Search:", url);
        $("#loading").show();
        $("#search").prop('disabled', true);

        $.ajax({
            url: url,
            method: "GET",
            success: function(response) {
                console.log("Response:", response);
                $("#loading").hide();
                
                response.results.forEach(function(item) {
                    var card = $('<div class="card mb-3"></div>');
                    var cardRow = $('<div class="row g-0"></div>');  // Bootstrap grid row
                    
                    var cardImgCol = $('<div class="col-md-4"></div>');  // Column for the image
                    var imgHtml = item.main_image ? '<img src="' + item.main_image + '" class="img-fluid rounded-start" alt="' + item.name +'">' : '<div class="img-fluid rounded-start" style="background: #f0f0f0; height: 150px;"></div>';
                    cardImgCol.append(imgHtml);

                    var cardBodyCol = $('<div class="col-md-8"></div>');  // Column for the text
                    var cardBody = $('<div class="card-body"></div>');
                    var cardContent = '';
                    
                    var location = '';
                    if (item.address)
                        location = `${item.address}, `;
                    if (item.city)
                        location += `${item.city}, `;
                    if (item.state)
                        location += `${item.state} `;
                    if (item.postcode)
                        location += `${item.postcode}`;

                    cardContent += `<h5 class="card-title"><a href="https://australianorgans.com.au/r/?url=${item.url}&organ_id=${item.id}" target="_blank">${item.name}</a></h5>`;
                    cardContent += `<p class="card-text"><small class="text-muted">${item.builder}</small></p>`;
                    cardContent += `<p class="card-text">${location}</p>`;
                    cardContent += `<p class="card-text">${item.description}</p>`;
                    
                    cardBody.append(cardContent);

                    // Add bookmark icon and text
                    var bookmarkHtml;
                    if (window.isUserAuthenticated) {
                        bookmarkHtml = `
                            <div class="bookmark-container" style="position: absolute; bottom: 10px; right: 10px;">
                                <a href="#" class="bookmark-link" data-organ-id="${item.id}">
                                    <span class="bookmark-text">☆ Save organ to your list</span>
                                </a>
                            </div>`;
                        cardBody.append(bookmarkHtml);

                        // Check if the organ is bookmarked
                        $.get('/api/check_bookmark/', { organ_id: item.id })
                            .done(function(data) {
                                var bookmarkLink = cardBody.find('.bookmark-link');
                                bookmarkLink.find('.bookmark-text').text(data.text);
                                if (data.is_bookmarked) {
                                    bookmarkLink.addClass('bookmarked');
                                }
                            })
                            .fail(function(jqXHR, textStatus, errorThrown) {
                                console.error("Error checking bookmark status:", errorThrown);
                            });
                    } else {
                        bookmarkHtml = `
                            <div class="bookmark-container" style="position: absolute; bottom: 10px; right: 10px;">
                                <a href="${window.registerUrl}" class="register-link">
                                    ☆ Register to save organs
                                </a>
                            </div>`;
                        cardBody.append(bookmarkHtml);
                    }

                    cardBodyCol.append(cardBody);
                    
                    cardRow.append(cardImgCol).append(cardBodyCol);
                    card.append(cardRow);
                    $("#results").append(card);
                });

                // Add click event handler for bookmark links
                $(".bookmark-link").click(function(e) {
                    e.preventDefault();
                    var organId = $(this).data('organ-id');
                    bookmarkOrgan(organId, $(this));
                });

                nextPageUrl = response.next;
                $("#search").prop('disabled', false);
            },
            error: function(error) {
                console.error("Error:", error);
                $("#results").html('<div class="mt-3">No results found.</div>');
                $("#loading").hide();
                $("#search").prop('disabled', false);
            }
        });
    }

    $(document).ready(function() {
        var url = "https://api.australianorgans.com.au";

        $("#search").click(function() {
            clearResults();
            var query = $("#q").val();
            performSearch(`${url}/search/?q=${query}`);
        });

        $("#q").keydown(function(event) {
            if (event.key === 'Enter' && !$("#search").prop('disabled')) {
                clearResults();
                $("#search").click();
            }
        });

        $(window).scroll(function() {
            var scrollPosition = $(window).scrollTop() + $(window).height();
            var nearBottom = $(document).height() - 10;

            if (scrollPosition >= nearBottom) {
                if (nextPageUrl && !$("#search").prop('disabled')) {
                    console.log("Loading more results...");
                    performSearch(nextPageUrl);
                }
            }
        });

        performSearch(`${url}/organs/?random_order=true`)  // Load random organs on page load
    });

    function bookmarkOrgan(organId, linkElement) {
        if (!window.isUserAuthenticated) {
            window.location.href = window.loginUrl;
            return;
        }

        $.ajax({
            url: '/api/bookmark',
            method: 'GET',
            data: { organ_id: organId },
            success: function(response) {
                if (response.message === 'Bookmark added') {
                    linkElement.html('★ Saved');
                    linkElement.addClass('bookmarked');
                } else if (response.message === 'Bookmark removed') {
                    linkElement.html('☆ Save organ to your list');
                    linkElement.removeClass('bookmarked');
                }
            },
            error: function(xhr, status, error) {
                console.error("Error bookmarking organ:", xhr.responseJSON ? xhr.responseJSON.error : error);
                alert("There was an error saving the bookmark. Please try again.");
            }
        });
    }
</script>
{% endblock %}

{% block content %}
<h1 class="mt-5 mb-3">Australian Organs</h1>
<div class="row">
    <div class="col-md-12">
        <p>Search for an organ in Australia:</p>
    </div>
</div>
<div class="row">
    <div class="col-8 col-md-10">
        <div class="form-group">
            <input type="text" class="form-control" name="q" id="q" autofocus>
        </div>
    </div>
    <div class="col-4 col-md-2">
        <div class="form-group">
            <button class="btn btn-primary" id="search">Search</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-3">
        <div id="results"></div>
    </div>
</div>
<div id="loading" class="text-center" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock %}
