{% extends "map/layout.html" %}
{% load static %}

{% block content %}
<h1 class="mt-5 mb-3">Login with a 6-digit code</h1>

<!-- Display messages -->
{% if messages %}
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<form method="post" action="{% url 'verify_login_code' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="code-email" 
                       placeholder="Enter your email" value="{{ email }}" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" name="code" id="login-code" placeholder="Enter 6-digit code" maxlength="6" required autofocus>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="submit" class="btn btn-success w-100" id="verify-code">Log In</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}